pytest==6.2.4
# pytest plugin that adds @pytest.mark.forked to flag a test that should
# run in a forked subprocess. Useful for testing global initialization
# code paths.
pytest-forked==1.6.0
openassetio-manager-bal
